.ui-widget {
    font-size: 100%;
 }
.ui-widget .ui-widget {
    font-size: 85%;
 }
.uy-datatable * {
	border: 0px !important;
}
.centered {
	position: absolute;
	height: 100px;
	top: 0;
	bottom: 0;
	margin:auto;
}